server.port=9922

debug=false
spring.mvc.pathmatch.matching-strategy=ANT_PATH_MATCHER
spring.jpa.hibernate.ddl-auto=none

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=false

spring.flyway.enabled=false
spring.flyway.locations=classpath:/db/migration

jwt.expirationTime=3600000
jwt.secret=5PuRv^g0




