body {
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}

tr:nth-child(even) {
    background: rgb(219, 218, 218);
}

tbody tr:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}

option:hover {
    background-color: yellow;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.py-0_1 {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.py-1_5 {
    padding-top: 0.42rem;
    padding-bottom: 0.42rem;
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(201 201 202 / var(--tw-border-opacity));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}